if SHIELD_TBK_MINI_HW_LEFT || SHIELD_TBK_MINI_HW_RIGHT

config ZMK_KEYBOARD_NAME
    default "TBK Mini"

endif

if SHIELD_TBK_MINI_HW_RIGHT  

CONFIG_ZMK_SPLIT_ROLE_CENTRAL=y
CONFIG_ZMK_SPLIT=y

endif

if SHIELD_TBK_MINI_HW_LEFT

CONFIG_ZMK_SPLIT_ROLE_CENTRAL=n
CONFIG_ZMK_SPLIT=y

endif