#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC    &kp Q           &kp W       &kp E        &kp R            &kp T        &kp Y      &kp U        &kp I        &kp O    &kp P          &kp BSPC
&kp LSHFT  &mt LEFT_GUI A  &mt LALT S  &mt LCTRL D  &mt LSHFT F      &kp G        &kp H      &mt RSHFT J  &mt RCTRL L  &kp L    &mt RGUI SEMI  &kp GRAVE
&kp LCTRL  &kp Z           &kp X       &kp C        &kp V            &kp B        &kp N      &kp M        &kp COMMA    &kp DOT  &kp FSLH       &tog 7
                                       &lt 1 DEL    &lt 2 BACKSPACE  &lt 3 SPACE  &lt 4 TAB  &lt 5 ENTER  &lt 6 ESC
            >;
        };

        f_layer {
            bindings = <
&kp LG(LS(S))  &kp F1  &kp F2   &kp F3   &kp F4   &trans        &kp LG(LS(S))  &kp F1  &kp F2   &kp F3   &kp F4   &trans
&trans         &kp F5  &kp F6   &kp F7   &kp F8   &kp PAGE_UP   &trans         &kp F5  &kp F6   &kp F7   &kp F8   &trans
&trans         &kp F9  &kp F10  &kp F11  &kp F12  &kp LEFT_ALT  &trans         &kp F9  &kp F10  &kp F11  &kp F12  &trans
                                &trans   &trans   &trans        &trans         &trans  &trans
            >;
        };

        numpad {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &kp KP_SUBTRACT  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_MULTIPLY  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &kp KP_PLUS      &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_DIVIDE    &trans
&trans  &trans  &trans  &trans  &trans  &trans  &kp KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_DOT       &trans
                        &trans  &trans  &trans  &trans           &trans           &trans
            >;
        };

        symbols {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &kp LBRC      &kp RBRC              &kp AMPERSAND          &kp KP_ASTERISK  &kp LBKT   &kp RBKT
&trans  &trans  &trans  &trans  &trans  &trans  &kp KP_EQUAL  &kp DOLLAR            &kp PERCENT            &kp CARET        &kp COLON  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &kp PIPE      &kp EXCLAMATION       &kp AT_SIGN            &kp POUND        &kp TILDE  &trans
                        &trans  &trans  &trans  &kp MINUS     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS
            >;
        };

        language {
            bindings = <
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp N7  &kp N8  &kp EQUAL  &trans  &trans
&trans  &trans        &trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans     &trans  &trans
&trans  &kp LC(Z)     &kp LC(X)     &kp LC(C)     &kp LC(V)     &kp LC(Y)     &trans        &trans  &trans  &trans     &trans  &trans
                                    &trans        &trans        &trans        &trans        &trans  &trans
            >;
        };

        navigate {
            bindings = <
&trans  &kp PAGE_UP    &kp HOME   &kp UP     &kp END    &kp INSERT  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp PAGE_DOWN  &kp LEFT   &kp DOWN   &kp RIGHT  &kp CAPS    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp LC(Z)      &kp LC(X)  &kp LC(C)  &kp LC(V)  &kp LC(Y)   &trans  &trans  &trans  &trans  &trans  &trans
                                  &trans     &trans     &trans      &trans  &trans  &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        game {
            bindings = <
&kp ESC         &kp Q  &kp W  &kp E    &kp R          &kp T      &kp Y    &kp U      &kp I       &kp O       &kp P   &trans
&kp LEFT_SHIFT  &kp A  &kp S  &kp D    &kp F          &kp G      &kp H    &kp J      &kp K       &kp L       &trans  &trans
&kp LCTRL       &kp Z  &kp X  &kp C    &kp V          &kp B      &kp N    &kp M      &kp COMMA   &kp PERIOD  &trans  &trans
                              &kp DEL  &kp BACKSPACE  &kp SPACE  &kp TAB  &kp ENTER  &kp ESCAPE
            >;
        };
    };
};
