#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC    &kp Q           &kp W       &kp E        &kp R            &kp T        &kp Y      &kp U        &kp I        &kp O    &kp P          &kp BSPC
&kp LSHFT  &mt LEFT_GUI A  &mt LALT S  &mt LCTRL D  &mt LSHFT F      &kp G        &kp H      &mt RSHFT J  &mt RCTRL L  &kp L    &mt RGUI SEMI  &kp GRAVE
&kp LCTRL  &kp Z           &kp X       &kp C        &kp V            &kp B        &kp N      &kp M        &kp COMMA    &kp DOT  &kp FSLH       &tog 7
                                       &lt 1 DEL    &lt 2 BACKSPACE  &lt 3 SPACE  &lt 4 TAB  &lt 5 ENTER  &lt 6 ESC
            >;
        };

        nav_layer {
            bindings = <
&kp LG(LS(S))  &kp F1  &kp F2   &kp F3   &kp F4   &trans        &kp LG(LS(S))  &kp F1  &kp F2   &kp F3   &kp F4   &trans
&trans         &kp F5  &kp F6   &kp F7   &kp F8   &trans        &trans         &kp F5  &kp F6   &kp F7   &kp F8   &trans
&trans         &kp F9  &kp F10  &kp F11  &kp F12  &kp LEFT_ALT  &trans         &kp F9  &kp F10  &kp F11  &kp F12  &trans
                                &trans   &trans   &trans        &trans         &trans  &trans
            >;
        };

        sym_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_7 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
